* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  padding-bottom: 60px;
}
header {
  background-color: #45719b;
  color: white;
  padding: 15px 20px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav {
  margin-bottom: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

header h1 {
  margin: 0;
  font-size: 30px;
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px 20px;
  background-color: #e8e6e6;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article h2 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.date {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 20px;
}

article p {
  margin-bottom: 15px;
  margin-top: 10px;
}

ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

pre {
  background-color: #eee;
  padding: 15px;
  overflow-x: auto;
  border-radius: 4px;
  margin-bottom: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 15px;
  width: 100%;
  background-color: #ffffff;
  color: rgb(10, 10, 10);
  text-align: center;
  padding: 5px 0;
}

@media (max-width: 600px) {
  .nav-bar {
    align-items: flex-start;
  }

  nav a {
    display: block;
    margin: 8px 0;
  }

  main {
    margin: 20px;
    padding: 20px;
  }
}
h4 {
  color: #000000;
  font-size: 10px;
  margin-top: 1px;
  text-align: left;
}
.aboutme {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
